# BOOKINGS

In [10]:
import pandas as pd

In [11]:
path_to_file = 'D:/university/VSCODE/VSCODE/python/karpov_course/dataset/2_bookings.csv'
bookings = pd.read_csv(path_to_file,sep = ';')

import pandas and also read csv

In [12]:
bookings_head = bookings.head(7)

In [14]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [ ]:
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [18]:
def replace_columns(name):
    new_name = name.lower().replace(' ', '_')
    return new_name

Rename the columns for convenience

In [35]:
bookings.rename(columns = replace_columns,inplace= True)
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [43]:
top5 = bookings\
        .query("is_canceled == 0")\
        .groupby(['country'],as_index=False)\
        .aggregate({'is_canceled' : 'count'})\
        .sort_values('is_canceled', ascending= False)
top5.head(5)
#or
top5_1 = bookings.query("is_canceled == 0").value_counts('country')
top5_1.head(5)

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: count, dtype: int64

Users from which countries have made the most successful bookings? A reservation is considered successful if it has not been canceled (is_canceled variable).

In [48]:
count_nights = bookings\
               .groupby(['hotel'],as_index=False)\
               .agg({'stays_total_nights' : 'mean'}).round(2)
count_nights

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

How many nights (stays_total_nights) on average are booked for hotels like City Hotel? Resort Hotel?

In [63]:
assigned_reserved = bookings\
               .query('assigned_room_type!=reserved_room_type')\
               .shape
assigned_reserved[0]
#or
len(bookings.loc[bookings.assigned_room_type != bookings.reserved_room_type])

14917

Sometimes the room type assigned to a customer (assigned_room_type) is different from the room originally booked (reserved_room_type). This can happen, for example, due to overbooking.

How many such observations were encountered in the dataset?

In [88]:
popular_month = bookings\
                    .query('arrival_date_year == 2016 or arrival_date_year == 2017')\
                    .groupby(['arrival_date_year','arrival_date_month'])\
                    .agg({'arrival_date_month' : 'count'})
                    
popular_month

                                      arrival_date_month
arrival_date_year arrival_date_month
2016              April                             5428
                  August                            5063
                  December                          3860
                  February                          3891
                  January                           2248
                  July                              4572
                  June                              5292
                  March                             4824
                  May                               5478
                  November                          4454
                  October                           6203
                  September                         5394
2017              April                             5661
                  August                            4925
                  February                          4177
                  January                           3681
                  July                              5313
                  June                              5647
                  March                             4970
                  May                               6313

Now let's analyze the dates of planned arrival (arrival_date_year).

Which month was the most frequently booked for in 2016? Did the most popular month change in 2017?

In [97]:
year_count_canceled = bookings\
                    .query('is_canceled == 1 and hotel == "City Hotel"')\
                    .groupby(['arrival_date_year','arrival_date_month'])\
                    .agg({'arrival_date_month' : 'count'})
year_count_canceled
#or
year_count_canceled = bookings\
                    .query('is_canceled == 1 and hotel == "City Hotel"')\
                    .groupby(['arrival_date_year'])\
                    .arrival_date_month\
                    .value_counts()
year_count_canceled

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: count, dtype: int64

for which month (arrival_date_month) were City Hotel reservations canceled most often in 2015? 2016? 2017?

In [98]:
bookings.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,stays_total_nights,adults,children,babies
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,3.427900,1.856403,0.103890,0.007949
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,2.557439,0.579261,0.398561,0.097436
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,2.000000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,3.000000,2.000000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,4.000000,2.000000,0.000000,0.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,69.000000,55.000000,10.000000,10.000000

In [100]:
bookings['total_kids'] = bookings.children + bookings.babies
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06,0.0
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07,0.0
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07,0.0
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07,0.0
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07,0.0

In [103]:
mean_total_kids = bookings\
                .groupby(['hotel'])\
                .aggregate({'total_kids' : 'mean'})\
                .round(2)
mean_total_kids

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

total_kids by combining the children and babies columns. For which type of hotel is the average value of the variable the highest?

City hotel - the hotel is located in a city
Resort hotel - the hotel is a resort hotel

In [166]:
def has_kids(x):
    if x>0:
        return True
    else:
        return False    
bookings['has_kids'] = bookings.total_kids.apply(has_kids)

#or
bookings['has_kids'] = bookings.total_kids >=1
bookings[['has_kids','is_canceled']].value_counts() / bookings[['has_kids']].value_counts()*100

has_kids  is_canceled
False     0              62.778717
          1              37.221283
True      0              65.077154
          1              34.922846
Name: count, dtype: float64

Churn rate is the percentage of subscribers (e.g., to push notifications from a website) who unsubscribed from a communication channel, abandoned the service within a certain period of time. In other words, it is the ratio of the number of users who left to the total number of users, expressed as a percentage.